.header-menu {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

li {
    list-style-type: none;
    margin-left: -50px;
    font-weight: bolder;
    font-size: larger;
}

.settings-menu:hover {
    cursor: pointer;
    opacity: .8;
}
.secrets-menu-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.secrets-container-header {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-weight: bolder;
  padding: 20px;
  width: 30rem;
  background-color: #404040;
  border: 1px solid #404040;
  border-radius: 20px;
}

.secrets-container-header:hover {
    opacity: .9;
    border: 1px solid;
    cursor: pointer;
    border-color: #646cff;
}
.secrets-container-header:focus,
.secrets-container-header:focus-visible {
    outline: 41px auto -webkit-focus-ring-color;
}

.create-secret-conatiner {
    display: flex;
    background-color: #5c575735;
    margin-bottom: 5px;
    border-radius: 10px;
    align-items: center;    
    padding: 15px 24px 15px 25px;
}

.create-secret-input {
    border: 0px;
    outline: none;
    width: 70%;
    border-radius: 10px;
    background-color: #ffffff4e;
    color: #ebe3e3;
    font-weight: 800;
    padding: 10px;
    height: 10px;
}

.create-secret-content-input {
    border: 0px;
    outline: none;
    width: 60%;
    border-radius: 10px;
    background-color: #ffffff4e;
    color: #ebe3e3;
    font-weight: 800;
    padding: 20px;
    height: 10px;
    margin-left: 4%;
}

.create-secret-btn {
    width: 30px;
    height: 30px;    
}

.create-secret-btn:hover {
    cursor: pointer;
    opacity: .8;
}

.delete-secret-btn {
    width: 37px;
    height: 37px;
    padding-right: 30px;        
}

.delete-secret-btn:hover {
    cursor: pointer;
    opacity: .8;
}

.secrets-content-container {
    background-color: #5c575735;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.secrets-content {    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    border-bottom: .8px solid rgba(0, 0, 0, 0.193);
    border-radius: 7px;
    align-items: center;
}

.group-secrets-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: left;
    padding: 0px 50px 0px 20px;    
}

.enter-group-secret:hover {
    cursor: pointer;
    opacity: .8;
}

.secrets-values {
    width: 100%;
    padding: 10px;    
    font-weight: bolder;
}

.delete-group-btn {
    width: 15rem;
    align-self: center;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: .8em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #a50c1e;
    cursor: pointer;
    transition: border-color 0.25s;
}

.delete-group-btn:hover {
    border-color: #ebe3e381;
}

.delete-group-btn:focus,
.delete-group-btn:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

.submit-new-secret {
    width: 15rem;
    justify-content:end;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: .8em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #0f8b6e;
    cursor: pointer;
    transition: border-color 0.25s;
    margin-left: 80%;
    margin-top: 20px;
}

.submit-new-secret:hover {
    border-color: #646cff;
}